#cabecera
{
    background-color: black;
    width: 100%;
    height: 60px;
}
#contenedor 
{
    background-color: beige;
}
#barradevinc
{
    background-color:blanchedalmond;
    font-family:Times New Roman;
    text-align: justify;
}
h1
{
 color:white; 
 font-family: fantasy;
 font-size: 50px;
 text-shadow: 3px 3px 3px thistle;
 text-align: center;
}

#pie
{
    clear: both;
    background-color: black;
    width: 100%;
    height: 90px;
}
#imagenesladoizq
{
   float:left;
   margin: 5px;
}
#imagenesladdere
{
 float: right;
 margin: 5px;
}
img{
    float: right;  
    float: left;  
    height: 100px;
    width: 100px;
    border: solid black;
}

p{
    font-family: 'Times New Roman';
    text-align: justify;
    color: white;
}